:root {
    --primary-color: #6C41FF;
    --secondary-color: rgb(19, 19, 51);
    --tertiary-color: rgb(145, 145, 153);
}

* {
    margin: 0;
    padding: 0;
}

p {
    padding: 1rem 0;
    color: var(--tertiary-color);
}

h2 {
    color: rgb(71, 71, 71);
}

h3 {
    font-weight: 500;
}

.btn.p {
    color: white;
    background-color: var(--primary-color);
}

.btn.btn-outline-light {
    border: 2px solid var(--primary-color);
    color: black;
}

/* header section  */



.header-section {
    padding-top: 1.5rem;
}

.bi.bi-cloudy {
    font-size: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hero section  */


.col-lg-6 {
    padding-top: 4rem;
    margin-top: 2rem;

}

@media(min-width :992px) {
    .hero-text {
        margin-top: 5rem;
    }
}

@media(min-width :1200px) {
    .hero-text {
        margin-top: 7rem;
    }
}

/* about section */

.col-md-4 {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width:768px) {
    .col-md-4 {
        justify-content: start;
        align-items: flex-start;
    }
}

.about {
    padding: 4rem 0;
}

.col-md-4 i {
    font-size: 1.4rem;
    color: white;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 1.8rem;

}

/* feature section  */

.c-slide {
    text-align: center;

    padding: 4rem;
}


.carousel-item {
    padding-top: 4rem;
}

.carousel-indicators [data-bs-target] {
    width: 300px;
    margin-right: 2rem;
    background-color: rgb(175, 171, 171);
}

.carousel-indicators [data-bs-target]:hover {
    background-color: var(--primary-color);
}

@media(min-width:992px) {
    .testimonial {
        text-align: center;
    }

    .mobile {
        top: 24rem;
        transform: translate(0.2%);

    }

    .carousel-item h3 {
        margin-right: 2rem;
    }

    .feature-section {
        background-color: #6d41ff09;
        padding-bottom: 18rem;
    }

    .feature {
        position: relative;
    }

    .mobile {
        position: absolute;
        height: 100vh;
    }

    .testimonial {
        background-color: var(--secondary-color);

    }

    .col-lg-4 {
        text-align: center;
        padding: 1rem 2rem;
        max-width: 300px;
        margin-left: 18px;
        border-radius: 10px;

    }






}

@media(min-width:1200px) {
    .mobile {
        top: 24rem;
        transform: translate(0.9%);

    }

    .col-lg-4 {
        padding: 1rem 2rem;
        margin-left: 18px;
        max-width: 350px;
        height: 100vh;
    }
}

@media(min-width:1400px) {
    .mobile {
        top: 24rem;
        transform: translate(2%);

    }

    .col-lg-4 {

        max-width: 400px;
    }
}


/* testimonial section   */

.col-lg-4 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
    margin: 2rem 0;
    background-color: white;
    position: relative;
    z-index: 1;
    background-color: rgba(13, 13, 54, 0.918);
    color: white;
    border-radius: 30px;

}

.col-lg-4 ul i {
    background-color: var(--primary-color);
    border-radius: 100%;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.price b {
    font-size: 1.5rem;
    font-weight: 400;
}

.col-lg-4 ul li {
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
}

.btn.p.testimonial {
    width: 75%;
    margin: 4rem 1rem;
    position: relative;

}

.test-image img {
    max-width: 98%;
}

.testimonial-next {
    text-align: center;
    margin-top: 4rem;

    padding-bottom: 3rem;
    background-color: var(--secondary-color);
}

@media(min-width:992px) {
    .col-lg-4 {
        background-color: white;
        color: black;
        border-radius: 10px;
        position: relative;
        z-index: 1;
        margin: 0 0.5rem;

    }

    .btn.p.testimonial {
        width: 75%;
        margin-top: 2rem;
        position: relative;

    }

    .testimonial-next {
        text-align: start;
        padding-top: 26rem;
    }

    .test-text {
        margin-top: 6rem;
    }

    .float {

        position: absolute;
        background-color: var(--secondary-color);
        width: 95.4%;
        height: 352px;
        top: 14rem;
    }
}

/* security section  */
.security {
    background-color: #6d41ff13;
}

.security-text i {
    background-color: var(--primary-color);
    border-radius: 100%;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.security-text ul li {
    display: flex;
}

.security-text ul li {
    margin-top: 8px;
}

.security-image img {
    width: 95%;
}

@media(min-width:992px) {
    .security-text {
        margin-top: 3rem;
    }

    .security-image img {
        width: 100%;
    }
}

@media(min-width:1200px) {

    .security-text {
        margin-top: 8rem;
    }
}

/* map seciton  */
.map {
    margin-top: 4rem;
}

.map iframe {
    width: 100%;

}

.mapown {
    margin-top: 2rem;
}

.map-next a {
    text-decoration: none;
    font-size: 1rem;
}

.map-text i {
    color: rgb(98, 0, 255);
    font-size: 1rem;
}

.map-next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.map-text {
    margin-top: 1rem;
}


@media(min-width:768px) {
    .map-next {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .map-text {
        margin-top: 0;
    }

}


/* footer section */
.footer {
    background-color: var(--secondary-color);
    margin-top: 4rem;
}

.footer-section {
    padding-top: 3rem;
}

.ics i {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: var(--primary-color);
    /* color: whitesmoke; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.ics ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
}

.icons i {
    margin-right: 9px;
    padding-bottom: 1rem;
}

.starts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width:768px) {
    .ics ul {
        justify-content: start;
        align-items: center;
    }

    .starts {

        align-items: flex-start;
        justify-content: start;
    }
}